<section>
  <div class="top">
    <app-title
      title="To-do List"
      subtitle="My tasks"
      [addButton]="true"
      [edit]="edit"
    />
    <div class="tasks">
      <div *ngIf="tasks?.length; else noTasks">
        <div
          class="button"
          [ngClass]="{ active: edit }"
          (click)="onSaveClick()"
        >
          <div class="save-btn">Save</div>
        </div>
        <div class="tasks-content">
          <app-task
            *ngFor="let task of tasks"
            [task]="task"
            [edit]="edit"
            (taskClicked)="handleTaskClick($event)"
						(click)="setActiveTask()"
          />
        </div>
      </div>
      <ng-template #noTasks>
        <i>No tasks</i>
      </ng-template>
    </div>
  </div>

  <div class="bottom">
    <app-title title="Statistics" subtitle="Task data" />
    <div class="filter">
      <select name="filter" id="filter">
        <option value="" default selected>All</option>
        <option value="1">Today</option>
        <option value="2">Last week</option>
        <option value="3">Last month</option>
      </select>
    </div>
    <div class="statistics">
      <div class="row">
        <div class="stat">Total time:</div>
        <div class="data">{{ taskTime }}</div>
      </div>
      <div class="row">
        <div class="stat">Sessions:</div>
        <div class="data">{{ taskSessions }}</div>
      </div>
    </div>
  </div>
</section>
