@use '../../base';
@use '../../mixins';

.error {
  @include mixins.align-center();
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 100vh;

  .message {
    @include mixins.align-center();
    font-size: 32px;
    font-weight: 600;
  }

  .link {
    font-size: 18px;
    color: base.$link-color;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      color: base.$hover-secondary;
    }
  }
}
