<div class="content">
  <div class="title">Pomodoro Timer</div>
  <div class="login">
    <div class="title">Login</div>
    <form>
      <div class="input email">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Your email" />
      </div>
      <div class="input password">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Your password" />
      </div>
      <input class="button" type="submit" value="Sign In" />
      <div class="forgot">
        <a href="">Forgot password?</a>
      </div>
    </form>
  </div>
</div>
