<div class="content">
  <div class="title">Pomodoro Timer</div>
  <div class="form">
    <div class="title">
      {{ formType === 'login' ? 'Login' : formType === 'signup' ? 'Create an account' : '' }}
    </div>
    <form
      [ngClass]="{ login: formType === 'login', signup: formType === 'signup' }"
      (ngSubmit)="onSubmit()"
      #form="ngForm"
    >
      <div class="input name" *ngIf="formType === 'signup'">
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Name"
          required
          [(ngModel)]="name"
          #nameInput="ngModel"
        />
        <div
          [hidden]="form.submitted || nameInput.pristine || (!form.submitted && nameInput.valid)"
          class="error-message"
        >
          Name is required
        </div>
      </div>
      <div class="input email">
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Email"
          required
          [(ngModel)]="email"
          #emailInput="ngModel"
        />
        <div
          [hidden]="form.submitted || emailInput.pristine || (!form.submitted && emailInput.valid)"
          class="error-message"
        >
          Email is required
        </div>
      </div>
      <div class="input password">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
          [(ngModel)]="password"
          #passwordInput="ngModel"
        />
        <div
          [hidden]="
            form.submitted || passwordInput.pristine || (!form.submitted && passwordInput.valid)
          "
          class="error-message"
        >
          Password is required
        </div>
      </div>
      <button
        type="submit"
        class="submit"
        [ngClass]="{ disabled: !form.form.valid }"
        [disabled]="!form.form.valid"
      >
        {{ formType === 'login' ? 'Sign in' : formType === 'signup' ? 'Sign up' : '' }}
      </button>
      <div class="link">
        <div *ngIf="formType === 'login'; else forgotSignup">
          Don't have an account? <a routerLink="/signup">Sign up</a>
        </div>
        <ng-template #forgotSignup>
          Already have an account? <a routerLink="/login">Login</a>
        </ng-template>
      </div>
    </form>
  </div>
</div>
