<header>
  <div class="content">
    <div class="title">Pomodoro Timer with To-Do List</div>
    <div class="buttons">
      <div class="btn" routerLink="/login" *ngIf="!loggedIn; else logged">
        Sign in
      </div>
      <ng-template #logged>
        <div class="profile" (click)="toggleDropdown($event)">
          <img src="profile.svg" alt="Profile icon" />
        </div>
        <div class="dropdown" [ngClass]="{ active: dropdownActive }">
          <div class="btn" (click)="stopPropagation($event)">Edit profile</div>
          <div class="btn" (click)="stopPropagation($event); confirmSignout()">
            Sign out
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</header>
