<header>
  <div class="content">
    <div class="title">Pomodoro Timer with To-Do List</div>
    <div class="info">
      <div *ngIf="route === 'home'; else profile" class="user">
				<div class="name">Welcome, <span>{{ user.name }}</span>!</div>
        <div class="profile" (click)="toggleDropdown($event)">
          <img src="profile.svg" alt="Profile icon" />
        </div>
        <div class="dropdown" [ngClass]="{ active: dropdownActive }">
          <div class="btn" routerLink="/settings">Settings</div>
          <div class="btn" (click)="stopPropagation($event); confirmSignout()">Sign out</div>
        </div>
      </div>

      <ng-template #profile>
        <div class="btn" routerLink="/home">Go to Home</div>
      </ng-template>
    </div>
  </div>
</header>
