$font-stack: "Inter", serif;
$primary: #fff;
$secondary: #1a1a1a;
// $secondary: #2c2c2c;
$terciary: #f4f4f4;
$hover-primary: #f0f0f0;
$hover-secondary: #4a4a4a;
$hover-terciary: #e4e4e4;
$border: #e0e0e0;
$border-edit: #a0a0a0;
$border-form: #d9d9d9;
// $border: transparent;
$color-secondary: #7a7a7a;
$color-terciary: #aaaaaa;
$color-placeholder: #bbbbbb;
$scrollbar: #ccc;
$scrollbar-hover: #aaa;
$input-edit-hover: #fafafa;
$input-edit-focus: #f3f3f3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-stack;
}
