$font-stack: "Inter", serif;
$primary: #fff;
$secondary: #1a1a1a;
$hover-primary: #eaeaea;
$hover-secondary: #4a4a4a;
$border: #e0e0e0;
// $border: transparent;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-stack;
}
