$font-stack: "Inter", serif;
$primary: #fff;
$secondary: #1a1a1a;
// $secondary: #2c2c2c;
$terciary: #f4f4f4;
$hover-primary: #f0f0f0;
$hover-secondary: #4a4a4a;
$border: #e0e0e0;
// $border: transparent;
$color-secondary: #4a4a4a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: $font-stack;
}
