<footer>
  <div class="content">
    <div class="copyright">© 2025 Gustavo Souza</div>
    <div class="icons">
      <a href="https://github.com/GustavoSouza123" target="_blank" class="icon">
        <img src="github.svg" alt="GitHub logo" />
      </a>
      <a
        href="https://www.linkedin.com/in/gustavo-souza-316003272/"
        target="_blank"
        class="icon"
      >
        <img src="linkedin.svg" alt="Linkedin logo" />
      </a>
      <a href="https://x.com/gustavosouza456" target="_blank" class="icon">
        <img src="x.svg" alt="X logo" />
      </a>
    </div>
  </div>
</footer>
