@use "../../base";
@use "../../mixins";

.sections {
  @include mixins.align-center();
	flex-direction: column;
  width: 100%;

  .content {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px - 60px);
  }
}
