@use "../../base";
@use "../../mixins";

::ng-deep app-pomodoro {
  width: 67%;
  height: 100%;
}

section {
  height: 100%;
  padding: 32px 48px;

  .pomodoro {
    @include mixins.align-center();
    flex-direction: column;
    gap: 40px;
    width: 100%;
    height: 100%;
    padding-bottom: 70px;

    .timer {
      @include mixins.align-center();
      flex-direction: column;
      gap: 32px;
      width: 300px;
      height: 300px;
      border: 5px solid base.$border;
      border-radius: 50%;

      .time {
        font-size: 64px;
        font-weight: 400;
      }

      .description {
        color: base.$color-terciary;
        font-size: 20px;
        // text-transform: uppercase;
      }
    }

    .button {
      @include mixins.align-center();
      width: 130px;
      height: 60px;
      background-color: base.$secondary;
      color: base.$primary;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.2s;
      font-size: 18px;

      &:hover {
        background-color: base.$hover-secondary;
      }
    }
  }
}
